{% embed 'partials/base_module.html.twig' %}
    {% set section_class = "team" %}

    {% block module_content %}
        {% set item = elements.item %}
        {% set item_column = item.column|default(4) %}
        {% set item_row_class = item.classes.row %}
        {% set item_column_class = item.classes.column %}
        {% set item_image_class = item.classes.image %}
        {% set item_text_class = item.classes.text %}
        {% set item_social_class = item.classes.social %}

        <div class="row {{ item_row_class }}">
        {% for item in page.header.items %}
            <div class="col-md-{{ item_column }} {{ item_column_class }}">
                <div class="item-image {{ item_image_class }}">
                    {{ page.media.images[item.image].cropZoom(150, 150) }}
                </div>
                {% if page_sections[item.section] is not null %}
                <div class="item-text {{ item_text_class }}">{{ page_sections[item.section] }}</div>
                {% endif %}
                <div class="item-social {{ item_social_class }}">
                    {% for social in item.social %}
                        {% include 'partials/_link.html.twig' with { 'item': social } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
