{% embed 'partials/base_module.html.twig' %}
    {% block module_content %}
        {% set item = elements.item %}
        {% set item_column = item.column|default(4) %}
        {% set item_row_class = item.classes.row %}
        {% set item_column_class = item.classes.column %}
        {% set image_class = elements.image.class %}
        {% set text_class = elements.text.class %}
        {% set social_class = elements.social.class %}
        
        <div class="row {{ item_row_class }}">
        {% for item in page.header.items %}
            <div class="col-md-{{ item_column }} {{ item_column_class }}">
                <div class="item-image {{ image_class }}">
                    {{ page.media.images[item.image].cropZoom(150, 150) }}
                </div>
                {% if page_sections[item.section] is not null %}
                <div class="item-text {{ text_class }}">{{ page_sections[item.section] }}</div>
                {% endif %}
                <div class="item-social {{ social_class }}">
                    {% for social in item.social %}
                        {% include 'partials/_link.html.twig' with { 'item': social } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
