{% block module %}
    
{% if section_id is not defined %}
{% set section_id = page.folder %}
{%endif %}

{% if section_class is not defined %}
{% set section_class = section_id %}
{%endif %}
    
{% set classes = page.header.classes %}
{% set sections_file = page.header.sections_file %}
{% if sections_file is not defined or sections_file is null %} 
    {% set sections_file = sections["modular"][page.folder]|keys|first %}
{% endif %}

{% set page_sections = sections["page"][sections_file] %}
{% if page_sections is null %}
    {% set page_sections = sections["modular"][page.folder][sections_file] %}
{% endif %}

{% set elements = page.header.layout_elements %}
{% set content = elements.content %}
{% set content_column = content.column|default(12) %}
{% set content_row_class = content.classes.row %}
{% set content_column_class = content.classes.column %}

<section {% if section_id is defined %}id="{{ section_id }}"{% endif %}>
    <div class="container{% block module_class %} module{% endblock %}{% if section_class is defined %} {{ section_class }}{% endif %}">
        {% block module_page_content %}
            {% if page.content != "" %}
            <div class="row {{ content_row_class }}">
                <div class="col-md-{{ content_column }} {{ content_column_class }}">
                    {{ page.content }}
                </div>
            </div>
            {% endif %}
        {% endblock %}
        
        {% block module_content %}
        {% endblock %}
    </div>
</section>
{% endblock %}
